{% extends 'base.html' %}
{% block page_content %}

<h1 class="lead" >Page: {{page_name}}</h1>

<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">
    Create a Post !</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Write Post</h4>
      </div>
      <div class="modal-body">
<!-- https://v4-alpha.getbootstrap.com/components/forms/ -->
          <form action="http://127.0.0.1:5000/publish" method="Post">
            <div class="form-group">
              <label  for="exampleTextarea">Example textarea</label>
              <textarea class="form-control" name="exampleTextarea" rows="3"></textarea>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Link for Image</label>
              <input class="form-control" name="link" >
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
          </form>





      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>






    {% if pubposts %}
        <h1 class="lead">Published Posts</h1>
        <table class="table table-hover" style="table-layout:fixed;border-bottom: 1px solid #ccc;">
            <tr>
                <th class="col-sm-1 lead" >Icon</th>
                <th  class="col-sm-28 lead" >Title</th>
                <th  class="col-sm-1 lead" >Likes</td>
                <th  class="col-sm-1 lead" >Comments</td>
            </tr>
            {% for id,info in pubposts.items()%}
            <tr>
                <td class="col-sm-1 lead" style=" font-size:12pt;"><img height="30" width="30" src={{ info['picture']}}></img></td>
                <td class="col-sm-28 lead" style=" font-size:12pt; white-space: nowrap;overflow: hidden; text-overflow: ellipsis;">
                    <a href={{ url_for('get_post_info', postid = id ,token=token ) }}> {{ info['name'] }} </a>
                </td>
                <td class="col-sm-1 lead" style=" font-size:12pt;">{{info['likes']}}</td>
                <td class="col-sm-1 lead" style=" font-size:12pt;">{{info['comments']}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else%}
        <h1 class="lead">No Unpublished Posts</h1>
    {% endif %}

    {% if unpubposts %}
        <h1 class="lead">Unpublished Posts</h1>
        <table class="table table-hover" style="table-layout:fixed;">
            <tr>
                <th class="col-sm-1" >Icon</th>
                <th class="col-sm-28">Created time</th>
                <th class="col-sm-1" >schedule</td>
                <th class="col-sm-1" >Comments</td>
            </tr>
            {% for id,info in unpubposts.items() %}
            <tr>
                <td class="col-sm-1" ><img height="30" width="30" src={{ info['picture']}}></img></td>
                <td class="col-sm-28"style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis;">
                    <a href={{ url_for('get_post_info', postid = id ,token=token ) }}> {{ info['name'] }} </a>
                </td>
                <td class="col-sm-1">{{info['created_time']}}</td>
                <td class="col-sm-1">{{info['schedule']}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else%}
        <h1 class="lead">No Unpublished Posts</h1>
    {% endif %}


{% endblock %}
